<section class="about">
    <div class="about__img"></div>
    <h2 class="about__title_mobile">Про мене</h2>
    <div class="about__img_mobile"></div>
    <div id="about__position">
        <div class="about__info">
            <h2>Про мене</h2>
            <div class="about__info_block">
                <img src="img/Vector.png" alt="vector">
                <p>Я Марія Миколенко, практикуючий психолог, психотерапевт,
                    гештальт-терапевт 2 ступені.</p>
            </div>
            <div class="about__info_block">
                <img src="img/Vector.png" alt="vector">
                <p>Освіта: Психолог, університет
                    ім. Драгоманова, педагогіка та психологія.</p>
            </div>
            <div class="about__info_block">
                <img src="img/Vector.png" alt="vector">
                <p>Додаткова освіта: навчаюсь на 2 ступені у Київському Гештальт Університеті.</p>
            </div>
            <div class="about__info_block">
                <img src="img/Vector.png" alt="vector">
                <p>1,5 року регулярної особистої терапії.</p>
            </div>
            <div class="about__info_block">
                <img src="img/Vector.png" alt="vector">
                <p>Більше 1000 годин особистої та групової терапії</p>
            </div>
        </div>
    </div>
</section>