<section class="contacts">
    <div class="angry-grid">
        <div class="contacts__img">
            <img src="img/contacts.png" alt="">
        </div>
        <div class="contacts__info">
            <h2>Контакти</h2>
            <div></div>
            <p class="contacts__info_text">Ви можете зв’язатися зі мною через месенджер</p>
            <a class="contacts__info_messenger" href="">Viber</a>
            <a class="contacts__info_messenger" href="">Telegram</a>
            <p class="contacts__info_tel">Тел.: 0961357987</p>
        </div>
        <div class="contacts__form">
            <form>
                <h2>Або я зв’яжуся з вами:</h2>
                <span class="contacts__form_first">
                    <input type="text" placeholder="Ім’я">
                    <input type="email" placeholder="E-mail">
                </span>
                <input type="tel" placeholder="Номер телефону">
                <textarea  placeholder="Повідомлення"></textarea>
                <input type="submit" class="contacts__form_btn" value="Відправити">
            </form>
        </div>
    </div>
</section>