<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="header__menu">
                    <ul>
                        <li><a href="#hero">Головна</a></li>
                        <li><a href="#about">Про мене</a></li>
                        <li><a href="#services">Послуги</a></li>
                        <li><a href="#reviews">Відгуки</a></li>
                        <li><a href="#contacts">Контакти </a></li>
                    </ul>
                </nav>
                <div class="menu-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="menu" class="menu">
                    <nav>
                        <ul>
                            <li><a href="#hero">Головна</a></li>
                            <li><a href="#about">Про мене</a></li>
                            <li><a href="#services">Послуги</a></li>
                            <li><a href="#reviews">Відгуки</a></li>
                            <li><a href="#contacts">Контакти</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>