<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="hero__info">
                    <h2 class="hero__info_title">Спробуй онлайн
                        психотерапію</h2>
                    <p class="hero__info_text">і полюби себе та світ навколо</p>
                    <button class="hero__info_btn">Мої послуги</button>
                </div>
            </div>
            <div class="col-6">
               <img src="img/hero.png" alt="">
            </div>
        </div>
    </div>
</section>