<section class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 hero__size order-2 order-md-1">
                <div class="hero__info">
                    <h2 class="hero__info_title">Спробуй онлайн
                        психотерапію</h2>
                    <p class="hero__info_text">і полюби себе та світ навколо</p>
                    <button class="hero__info_btn">Мої послуги</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 order-1 order-md-2">
               <img class="hero__img" src="img/hero.png" alt="">
            </div>
        </div>
    </div>
</section>