<section class="reviews">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Відгуки</h2>
      </div>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h4>Анастасія Якубовська</h4>
          <div id="line"></div>
          <p>Хочу відзначити толерантне і дбайливе ставлення до проблеми підлітка, доступне роз’яснення проблеми
            батькам, інформативний супровід поза сеансами.</p>
        </div>
        <div class="swiper-slide">
          <h4>Наталія Михайлюк</h4>
          <div id="line"></div>
          <p>Мені допомогли подивитися на проблему так, як я ніколи не здогадувалася. Відповіді прийшли самі! Зі спеціалістом так добре виходити з глухого кута!</p>
        </div>
        <div class="swiper-slide">
          <h4>Сергій Суміленко</h4>
          <div id="line"></div>
          <p>Задоволений результатом і тим, що звернувся.​</p>
        </div>
        <div class="swiper-slide">
          <h4>Вікторія Мялковська</h4>
          <div id="line"></div>
          <p>Важливими були надійність, конфіденційність, віра. Враження отримала позитивні, міняю своє мислення</p>
        </div>
        <div class="swiper-slide">
          <h4>Вероніка Муславська</h4>
          <div id="line"></div>
          <p>Психолог допомогла розібратись з певними особистими проблемами в сім'ї. Дуже вдячна і всім раджу не чекати, що проблеми вирішаться самостійно.</p>
        </div>
        <div class="swiper-slide">
          <h4>Наталія Сухар</h4>
          <div id="line"></div>
          <p>Дізналася про психолога від знайомої. Мала проблеми зі сном, тепер вже засинаю без лікарств. Рекомендую.</p>
        </div>
        <div class="swiper-slide">
          <h4>Оксана Коваленко</h4>
          <div id="line"></div>
          <p>Хочеться сказати величезне спасибі психологу Марії, за високий професіоналізм, за вміння об’єктивно дивитися на проблеми та за підтримку!</p>
        </div>
        <div class="swiper-slide">
          <h4>Віктор Ткачук</h4>
          <div id="line"></div>
          <p>Навчився більш чітко відчувати свої емоції і визначати бажання. Вдячний за професійно проведену роботу.</p>
        </div>
        <div class="swiper-slide">
          <h4>Уляна Коваль</h4>
          <div id="line"></div>
          <p> Допомогла дійти розуміння з собою, що є дуже важливим. Надзвичайно вдячна їй за це. Рекомендую!</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>