<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Послуги</h2>
            </div>
            <div class="services__container">
                <div class="services__container_card">
                    <span id="card_first">
                        <h4>Індивідуальна
                            терапія</h4>
                    </span>
                    <div></div>
                    <h3>1000 грн</h3>
                    <div></div>
                    <p>Вартість за 50 хв</p>
                </div>
                <div class="services__container_card">
                    <h4>Парна терапія</h4>
                    <div></div>
                    <h3>1000 грн</h3>
                    <div></div>
                    <p>Вартість за 50 хв</p>
                </div>
                <div class="services__container_card">
                    <h4>Сімейна терапія</h4>
                    <div></div>
                    <h3>1500 грн</h3>
                    <div></div>
                    <p>Вартість за 50 хв</p>
                </div>
                <div class="services__container_card">
                    <h4>Дитяча терапія</h4>
                    <div></div>
                    <h3>900 грн</h3>
                    <div></div>
                    <p>Вартість за 50 хв</p>
                </div>
                <div class="services__container_card">
                    <h4>Текстова терапія</h4>
                    <div></div>
                    <h3>800 грн</h3>
                    <div></div>
                    <p>Вартість за 50 хв</p>
                </div>
                <div class="services__container_card">
                    <h4>Термінова терапія</h4>
                    <div></div>
                    <h3>1500 грн</h3>
                    <div></div>
                    <p>Вартість за 50 хв</p>
                </div>
            </div>

            <div class="modal">
                <div class="modal-content">
                    <h3>Виберіть послугу</h3>
                    <p>Опис послуги</p>
                    <button class="order-btn">Замовити</button>
                    <button class="close-btn">&times;</button>
                </div>
            </div>

            
        </div>
</section>