<section class="session">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Забронювати сеанс</h2>
            </div>
            <div class="col-sm-12 col-md-4">
                <span class="session__info">
                    <img src="img/Vector-session.png" alt="vector">
                    <p><b>В</b>ам не потрібно нічого встановлювати, ви можете підключитись онлайн з будь-якого
                        месенджера.
                    </p>
                </span>
            </div>
            <div class="col-sm-12 col-md-4">
                <span class="session__info">
                    <img src="img/Vector-session.png" alt="vector">
                    <p><b>В</b>и можете змінити або скасувати дату сесії безкоштовно не пізніше ніж 24 години.</p>
                </span>
            </div>
            <div class="col-sm-12 col-md-4">
                <span class="session__info"><img src="img/Vector-session.png" alt="vector">
                    <p><b>М</b>ожна оплатити
                        карткою, або миттєвим банківським переказом</p>
                </span>
            </div>
            <div class="col-12 text-center">
                <button>Забронювати</button>
            </div>
        </div>
    </div>
</section>