.about {

    display: flex;
    justify-content: space-between;

    &__title_mobile {
        font-weight: 700;
        font-size: 24px;
        color: #121212;
        text-align: center;
        display: none;
        margin: 40px 0px;
    }

    &__img {
        padding-right: 0;
        min-width: 500px;
        min-height: 538px;
        height: 850px;
        width: 50%;
        background-image: url('../img/about.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &_mobile {
            min-width: 100%;
            min-height: 190px;
            width: 100%;
            height: 250px;
            background-image: url('../img/about 2.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: none;
        }
    }

    &__info {

        h2 {
            font-weight: 700;
            font-size: 50px;
            color: #121212;
        }

        &_block {
            display: flex;
            margin-top: 36px;

            p {
                font-size: 26px;
                line-height: 32px;
                color: #121212;
            }

            img {
                height: 24px;
                width: 32px;
                margin-top: 8px;
                margin-right: 22px;
                margin-left: 8px;
            }
        }
    }

    #about__position {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
    }

    @media screen and(max-width:1200px) {

        &__info {

            h2 {
                font-size: 40px;
            }

            &_block {
                margin-top: 26px;

                p {
                    font-size: 24px;
                    line-height: 1.2em;
                }
            }
        }
    }

    @media screen and(max-width:992px) {

        &__img {
            height: 600px;
            min-width: 50%;
        }

        &__info {

            h2 {
                font-size: 34px;
            }

            &_block {
                margin-top: 16px;

                p {
                    font-size: 20px;
                    line-height: 1.2em;
                }

                img {
                    height: 14px;
                    width: 19px;
                }
            }
        }

        #about__position {
            padding-left: 30px;
            padding-right: 10px;
        }
    }

    @media screen and(max-width:767px) {
        &__img {
            height: 586px;
        }

        &__info {
            &_block {
                p {
                    font-size: 18px;
                }
            }

            img {
                height: 14px;
                width: 19px;
                margin-top: 8px;
                margin-right: 12px;
                margin-left: 4px;
            }
        }

        #about__position {
            padding-left: 16px;
            padding-right: 5px;
        }
    }

    @media screen and(max-width:576px) {
        & {
            display: block;

            &__title_mobile {
                display: block;
            }
        }

        &__img {
            display: none;

            &_mobile {
                display: block;
            }
        }

        &__info {
            h2 {
                display: none;
            }

            &_block {
                margin-top: 30px;

                img {
                    height: 14px;
                    width: 19px;
                    margin-top: 8px;
                    margin-right: 16px;
                    margin-left: 4px;
                }
            }
        }

    }
}