.hero {
    position: relative;
    display: flex;
    justify-content: space-between;

    &__info {
        &_title {
            font-weight: 700;
            font-size: 50px;
            line-height: 61px;
            color: #121212;
            max-width: 470px;
        }

        &_text {
            font-size: 26px;
            line-height: 32px;
            color: #121212;
            margin-top: 36px;
        }

        &_btn {
            font-weight: 500;
            font-size: 30px;
            color: #FFFFFF;
            background: #BBBCDF;
            border-radius: 10px;
            padding: 20px 84px;
            border: none;
            margin-top: 70px;
            transition: 0.2s;
        }
    }

    &__img {
        width: 100%;
        max-width: 730px;
    }

    #hero__size {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    @media screen and(max-width:1400px) {
        &__img {
            width: 100%;
            max-width: 530px;
        }
    }

    @media screen and(max-width:1200px) {
        &__info {

            &_title {
                font-size: 42px;
            }
        }

        #hero__size {
            width: 100%;
        }
    }

    @media screen and(max-width:992px) {
        &__info {

            &_title {
                font-size: 34px;
                line-height: 50px;
            }

            &_text {
                font-size: 22px;
                margin-top: 28px;
            }

            &_btn {
                font-size: 24px;
                margin-top: 40px;
            }
        }

        &__img {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and(max-width:768px) {
        & {
            display: block;
        }

        &__img {
            min-width: 100%;
            margin-top: -35px;
        }

        #hero__size {
            display: block;
            text-align: center;
        }

        &__info {
            position: absolute;
            width: 100%;
            bottom: 76px;

            &_title {
                max-width: none;
                font-size: 32px;
            }

            &_text {
                margin-top: 0px;
            }

            &_btn {
                margin-top: 30px;
            }
        }
    }

    @media screen and(max-width:576px) {
        &__info {
            bottom: 50px;

            &_title {
                font-size: 18px;
                line-height: 1.2;
            }

            &_text {
                margin-top: 0px;
                font-size: 14px;
                line-height: 1.2;
                margin-top: 8px;
            }

            &_btn {
                margin-top: 25px;
                padding: 14px 54px;
                font-size: 18px;
            }
        }
    }

    @media screen and(max-width:400px) {
        &__info {
            bottom: 20px;

            &_btn {
                margin-top: 15px;
            }
        }
    }
}